@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  /* Default color set */
  /* --bar-color-border: rgba(255, 255, 255, 0.2);
  --bar-color-first: rgb(118, 99, 29, 0.58);
  --bar-color-second: rgba(105, 9, 9, 0.95);
  --green-color-first: rgb(182, 151, 55, 0.85);
  --green-color-second: rgba(66, 138, 68, 0.95);
  --pipe-color-first: rgba(216, 202, 5, 0.8);
  --pipe-color-green: rgba(66, 138, 68, 0.95);
  --pipe-color-bar: rgba(105, 9, 9, 0.85); */

  /* Alt color set  - comment this and uncoment Default to change*/
  --bar-color-border: rgba(255, 255, 255, 0.15);
  --bar-color-first: rgba(57, 76, 100, 0.9);
  --bar-color-second: rgba(121, 24, 21, 0.95);
  --green-color-first: rgba(43, 110, 187, 0.95);
  --green-color-second: rgba(102, 152, 104, 0.95);
  --pipe-color-first: rgb(240, 200, 80, 0.95);
  --pipe-color-green: rgba(102, 152, 104, 0.95);
  --pipe-color-bar: rgba(121, 24, 21, 0.95);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
button {
  text-decoration: none;
  color: #fff;
  border: none;
  font-size: 30px;
  cursor: pointer;
}
/* Utility Classes */
.btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
  background: #306fbc;
  border-radius: 5px;
  transition: 100ms linear;
}
.btn:hover {
  background: #6099d3;
}
/* Bar & Pipe Game */
.bar {
  position: absolute;
  width: 600px;
  height: 10px;
  background: var(--bar-color-first);

  border: 1px solid var(--bar-color-border);
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pipe {
  color: #fff;
  position: absolute;
  height: 20px;
  width: 6px;
  background: var(--pipe-color-first);
  border-bottom: 1px solid rgb(252, 252, 252 0.2);
  border-top: 5px solid rgb(252, 252, 252 0.2);
  border-top-right-radius: 7px;
  top: -10px;
  left: 0px;
  margin: 0px 0px 0px 0px;
  transition: 2.5s linear;
}
.green {
  position: absolute;
  padding: 5px 0px;
  border-radius: 1px;
  width: 50px;
  display: none;
  background: var(--green-color-first);

  margin: 0px 0px 0px 350px;
}

/* background */
.bg {
  position: relative;
  height: 100vh;
  background: url("./img/gtaBackground.jpg") no-repeat center center/cover;
}

/* CSS MATRIX METHOD
/* .pipe.goPipe {
  transform: translateX(600px);
} */

/* Main styling */
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  gap: 20px;
}
.text {
  font-weight: bold;
}
.score {
  display: flex;
  gap: 20px;
}
