body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
/* Utility Classes */
.btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 10px;
  background: green;
  border: 1px black solid;
  border-radius: 5px;
  transition: 100ms linear;
}
.btn:hover {
  background: black;
  color: #008000;
}
/* Bar & Pipe Game */
.bar {
  position: absolute;
  width: 600px;
  height: 10px;
  background: rgba(107, 38, 38, 0.65);

  border: 1px solid rgba(255, 255, 255, 0.2);
  top: 91%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pipe {
  color: #fff;
  position: absolute;
  height: 20px;
  width: 6px;
  background: rgba(216, 202, 5, 0.8);
  border-bottom: 1px solid rgb(252, 252, 252 0.2);
  border-top: 5px solid rgb(252, 252, 252 0.2);
  border-top-right-radius: 5px;
  top: -10px;
  left: 0px;
  margin: 0px;
  transition: 2.5s linear;
}
.green {
  position: absolute;
  padding: 5px 0px;
  border-radius: 1px;
  width: 50px;

  background: rgba(90, 148, 129, 0.95);

  margin: 0px 0px 0px 350px;
}

/* background */
.bg {
  position: relative;
  height: 100vh;
  background: url("./img/gtaBackground.jpg") no-repeat center center/cover;
}

/* CSS MATRIX METHOD
/* .pipe.goPipe {
  transform: translateX(600px);
} */

/* Main styling */
.data {
  display: flex;
  font-size: 30px;
  gap: 20px;
}
.text {
  font-weight: bold;
}
